In [19]:
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
#import seaborn as sns
from datetime import datetime
df = pd.read_csv('owid-co2-data.csv')
df

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1750,AFG,2802560.0,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1751,AFG,NaN,NaN,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1752,AFG,NaN,NaN,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1753,AFG,NaN,NaN,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1754,AFG,NaN,NaN,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50186,Zimbabwe,2019,ZWE,15271377.0,2.514642e+10,0.473,0.031,10.263,-0.942,-8.411,...,NaN,0.106,0.001,0.001,0.002,0.0,34.348,17.531,-0.027,-0.261
50187,Zimbabwe,2020,ZWE,15526888.0,2.317871e+10,0.496,0.032,8.495,-1.768,-17.231,...,NaN,0.105,0.001,0.001,0.002,0.0,31.323,15.775,0.612,7.209
50188,Zimbabwe,2021,ZWE,15797220.0,2.514009e+10,0.531,0.034,10.204,1.709,20.120,...,NaN,0.104,0.001,0.001,0.002,0.0,33.549,17.599,0.539,5.280
50189,Zimbabwe,2022,ZWE,16069061.0,2.590159e+10,0.531,0.033,10.425,0.221,2.169,...,NaN,0.103,0.001,0.001,0.002,0.0,33.772,17.910,0.315,3.018
50190,Zimbabwe,2023,ZWE,16340829.0,NaN,0.531,0.032,11.164,0.739,7.090,...,NaN,0.102,0.001,0.001,0.002,0.0,33.955,18.608,NaN,NaN

In [20]:
df.columns

Index(['country', 'year', 'iso_code', 'population', 'gdp', 'cement_co2',
       'cement_co2_per_capita', 'co2', 'co2_growth_abs', 'co2_growth_prct',
       'co2_including_luc', 'co2_including_luc_growth_abs',
       'co2_including_luc_growth_prct', 'co2_including_luc_per_capita',
       'co2_including_luc_per_gdp', 'co2_including_luc_per_unit_energy',
       'co2_per_capita', 'co2_per_gdp', 'co2_per_unit_energy', 'coal_co2',
       'coal_co2_per_capita', 'consumption_co2', 'consumption_co2_per_capita',
       'consumption_co2_per_gdp', 'cumulative_cement_co2', 'cumulative_co2',
       'cumulative_co2_including_luc', 'cumulative_coal_co2',
       'cumulative_flaring_co2', 'cumulative_gas_co2', 'cumulative_luc_co2',
       'cumulative_oil_co2', 'cumulative_other_co2', 'energy_per_capita',
       'energy_per_gdp', 'flaring_co2', 'flaring_co2_per_capita', 'gas_co2',
       'gas_co2_per_capita', 'ghg_excluding_lucf_per_capita', 'ghg_per_capita',
       'land_use_change_co2', 'land_use_change_co2_per_capita', 'methane',
       'methane_per_capita', 'nitrous_oxide', 'nitrous_oxide_per_capita',
       'oil_co2', 'oil_co2_per_capita', 'other_co2_per_capita',
       'other_industry_co2', 'primary_energy_consumption',
       'share_global_cement_co2', 'share_global_co2',
       'share_global_co2_including_luc', 'share_global_coal_co2',
       'share_global_cumulative_cement_co2', 'share_global_cumulative_co2',
       'share_global_cumulative_co2_including_luc',
       'share_global_cumulative_coal_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_gas_co2', 'share_global_cumulative_luc_co2',
       'share_global_cumulative_oil_co2', 'share_global_cumulative_other_co2',
       'share_global_flaring_co2', 'share_global_gas_co2',
       'share_global_luc_co2', 'share_global_oil_co2',
       'share_global_other_co2', 'share_of_temperature_change_from_ghg',
       'temperature_change_from_ch4', 'temperature_change_from_co2',
       'temperature_change_from_ghg', 'temperature_change_from_n2o',
       'total_ghg', 'total_ghg_excluding_lucf', 'trade_co2',
       'trade_co2_share'],
      dtype='object')

In [21]:
df["country"].unique()

array(['Afghanistan', 'Africa', 'Africa (GCP)', 'Albania', 'Algeria',
       'Andorra', 'Angola', 'Anguilla', 'Antarctica',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Asia',
       'Asia (GCP)', 'Asia (excl. China and India)', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Central America (GCP)', 'Chad',
       'Chile', 'China', 'Christmas Island', 'Colombia', 'Comoros',
       'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
       'Cuba', 'Curacao', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'Europe (GCP)',
       'Europe (excl. EU-27)', 'Europe (excl. EU-28)',
       'European Union (27)', 'European Union (28)', 'Faroe Islands',
       'Fiji', 'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'High-income countries', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'International aviation',
       'International shipping', 'International transport', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kuwaiti Oil Fires', 'Kuwaiti Oil Fires (GCP)', 'Kyrgyzstan',
       'Laos', 'Latvia', 'Least developed countries (Jones et al.)',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Low-income countries',
       'Lower-middle-income countries', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Middle East (GCP)', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'Non-OECD (GCP)', 'North America', 'North America (GCP)',
       'North America (excl. USA)', 'North Korea', 'North Macedonia',
       'Norway', 'OECD (GCP)', 'OECD (Jones et al.)', 'Oceania',
       'Oceania (GCP)', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Ryukyu Islands', 'Ryukyu Islands (GCP)', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South America (GCP)', 'South Korea', 'South Sudan', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Upper-middle-income countries', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'World', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [17]:
df_post_2018 = df[df['year'] >= 2018]
df_post_2018["year"].min()

np.int64(2018)

In [ ]:
df_post_2018.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1530 entries, 268 to 50190
Data columns (total 79 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   country                                    1530 non-null   object
 1   year                                       1530 non-null   int64
 2   iso_code                                   1308 non-null   object
 3   population                                 1380 non-null   float64
 4   gdp                                        825 non-null    float64
 5   cement_co2                                 1374 non-null   float64
 6   cement_co2_per_capita                      1356 non-null   float64
 7   co2                                        1482 non-null   float64
 8   co2_growth_abs                             1410 non-null   float64
 9   co2_growth_prct                            1398 non-null   float64
 10  co2_including_luc                          1266 non-null   float64
 11  co2_including_luc_growth_abs               1266 non-null   float64
 12  co2_including_luc_growth_prct              1266 non-null   float64
 13  co2_including_luc_per_capita               1266 non-null   float64
 14  co2_including_luc_per_gdp                  895 non-null    float64
 15  co2_including_luc_per_unit_energy          1010 non-null   float64
 16  co2_per_capita                             1386 non-null   float64
 17  co2_per_gdp                                905 non-null    float64
 18  co2_per_unit_energy                        1078 non-null   float64
 19  coal_co2                                   942 non-null    float64
 20  coal_co2_per_capita                        930 non-null    float64
 21  consumption_co2                            741 non-null    float64
 22  consumption_co2_per_capita                 685 non-null    float64
 23  consumption_co2_per_gdp                    679 non-null    float64
 24  cumulative_cement_co2                      1374 non-null   float64
 25  cumulative_co2                             1410 non-null   float64
 26  cumulative_co2_including_luc               1266 non-null   float64
 27  cumulative_coal_co2                        942 non-null    float64
 28  cumulative_flaring_co2                     1410 non-null   float64
 29  cumulative_gas_co2                         892 non-null    float64
 30  cumulative_luc_co2                         1284 non-null   float64
 31  cumulative_oil_co2                         1398 non-null   float64
 32  cumulative_other_co2                       372 non-null    float64
 33  energy_per_capita                          1048 non-null   float64
 34  energy_per_gdp                             740 non-null    float64
 35  flaring_co2                                1422 non-null   float64
 36  flaring_co2_per_capita                     1386 non-null   float64
 37  gas_co2                                    892 non-null    float64
 38  gas_co2_per_capita                         880 non-null    float64
 39  ghg_excluding_lucf_per_capita              1248 non-null   float64
 40  ghg_per_capita                             1254 non-null   float64
 41  land_use_change_co2                        1284 non-null   float64
 42  land_use_change_co2_per_capita             1266 non-null   float64
 43  methane                                    1290 non-null   float64
 44  methane_per_capita                         1254 non-null   float64
 45  nitrous_oxide                              1320 non-null   float64
 46  nitrous_oxide_per_capita                   1284 non-null   float64
 47  oil_co2                                    1398 non-null   float64
 48  oil_co2_per_capita                         1386 non-null   float64
 49  other_co2_per_capita                       360 non-null    float64
 50  other_industry_co2                         372 non-null    float64
 51  primary_energy_consumption                 1052 non-null   float64
 52  share_global_cement_co2                    1374 non-null   float64
 53  share_global_co2                           1410 non-null   float64
 54  share_global_co2_including_luc             1266 non-null   float64
 55  share_global_coal_co2                      942 non-null    float64
 56  share_global_cumulative_cement_co2         1374 non-null   float64
 57  share_global_cumulative_co2                1410 non-null   float64
 58  share_global_cumulative_co2_including_luc  1266 non-null   float64
 59  share_global_cumulative_coal_co2           942 non-null    float64
 60  share_global_cumulative_flaring_co2        1410 non-null   float64
 61  share_global_cumulative_gas_co2            892 non-null    float64
 62  share_global_cumulative_luc_co2            1284 non-null   float64
 63  share_global_cumulative_oil_co2            1398 non-null   float64
 64  share_global_cumulative_other_co2          372 non-null    float64
 65  share_global_flaring_co2                   1410 non-null   float64
 66  share_global_gas_co2                       892 non-null    float64
 67  share_global_luc_co2                       1284 non-null   float64
 68  share_global_oil_co2                       1398 non-null   float64
 69  share_global_other_co2                     372 non-null    float64
 70  share_of_temperature_change_from_ghg       1422 non-null   float64
 71  temperature_change_from_ch4                1320 non-null   float64
 72  temperature_change_from_co2                1422 non-null   float64
 73  temperature_change_from_ghg                1422 non-null   float64
 74  temperature_change_from_n2o                1320 non-null   float64
 75  total_ghg                                  1290 non-null   float64
 76  total_ghg_excluding_lucf                   1284 non-null   float64
 77  trade_co2                                  691 non-null    float64
 78  trade_co2_share                            691 non-null    float64
dtypes: float64(76), int64(1), object(2)
memory usage: 956.2+ KB

In [24]:


num_cols = df.select_dtypes(include="number").columns

df[num_cols] = df.groupby("country")[num_cols].transform(
    lambda g: g.interpolate(limit_direction="both")
)

df_clean = df.fillna(0, inplace=False)

df.to_csv("owid-co2-data-interpolated.csv", index=False)
df_clean.to_csv("owid-co2-data-cleaned.csv", index=False)